target/
test-output/
*.iml
.project
.classpath
testdata/
/.idea/
.settings/
local-*
logback.xsd
src/test/resources/onespot_training_instances_small.json
src/test/resources/onespot_training_instances_large.json

